header {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 70px;
}

div img {
    width: 100%;
}

.navbar-end {
    padding: 1.7%;
    padding-top: 4%;
}

.card {
    display: flex;
    justify-content: center;
    color: black;
}

.is-horizontal-center {
    justify-content: center;
}

h2 {
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;

}

h3 {
    font-weight: bold;
}

.country {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.artist-button {
    background-color: grey;
    color: white;
    padding: 15px 32px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 4px solid white;
}
.artist-button:hover {
    color: white;
    border-radius: 50px;
    border-color: white;
    transition: all 0.3s ease 0s;
    }

.bio {
    font-size: 20px;
    font-weight: bold;
}

.genre {
    font-size: 50px;
    font-weight:bold;
}

.modal-content {
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-style: solid;
    margin: 0 auto;
    padding: 20px;
    background-color:black;
}

.content-hide {
    display: none;
}

@media screen and (max-width: 1024px) { .navbar-menu {
    display: flex;
} }